<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div  class="field">
Peliculas
<br>
<%= f.collection_select :movie_ids,Movie.all,
                        :id, :titulo, { include_blank: false},
                         { multiple: true } %>
</div>

<div  class="field">
Series
<br>
<%= f.collection_select :novel_ids,Novel.all,
                        :id, :titulo, { include_blank: false},
                         { multiple: true } %>
</div>


<br>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
