<div id="container">
<div id="content-index">
<p id="notice"><%= notice %></p>


<%= paginate @users %>


<h1 class="titulo">Peliculas y series alquiladas</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Email</th>
      <th>Peliculas alquiladas</th>
      <th>Series alquiladas</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.nombre %></td>
        <td><%= user.email %></td>
        <td>
        <% if user.movies.length >0
          user.movies.each do |movie| %>
        <%= movie.titulo %>
        <%end end%>
        </td>
        <td>
        <% if user.novels.length >0
                    user.novels.each do |novel| %>
        <%= novel.titulo %>
        <%end end%>
        </td>
        <td><%= link_to 'Ver', user,class:"btn btn-sm btn-primary",id:"blanco" %></td>
        <td><%= link_to 'Editar', edit_user_path(user),class:"btn btn-sm btn-success",id:"blanco" %></td>
        <td><%= link_to 'Eliminar', user, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-sm btn-danger",id:"blanco"  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Alquiler', new_user_path %>
</div>
</div>
