<div id="container">
      <div id="content">
<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @user.nombre %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<% if @user.movies.length>0 %>
<p>
  <strong>Peliculas:</strong>
  <% @user.movies.each do|movie| %>
  <%= movie.titulo %>
  <%end %>
</p>
<%end%>

<% if @user.novels.length>0 %>
<p>
  <strong>Series:</strong>
  <% @user.novels.each do|novel| %>
  <%= novel.titulo %>
  <%end %>
</p>
<%end%>

<%= link_to 'Editar', edit_user_path(@user),class:"btn btn-sm btn-success" ,id:"blanco"%>
<%= link_to 'Volver', users_path ,class:"btn btn-link",id:"azul"%>
</div>
</div>
